<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Edit Employee</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" th:href="@{/style.css}">
    <script th:src="@{/js/script.js}"></script>

</head>

<body>
<br>
<div class="container">

    <h2>Update Employee Info</h2>
    <hr>
    <form th:action="@{/updateEmployee}" th:object="${employeeinfo}" method="POST">
        <div class="form-row">
            <div class="form-group col-md-2">
                <label>FirstName* :</label>
            </div>
            <div class="form-group col-md-4">
                <input type="text" name="e_firstname" class="form-control" id="e_firstname" maxlength="256"
                       placeholder="First Name" th:value="${employeelists.e_firstname}">
            </div>
            <div class="form-group col-md-2">
                <label>LastName* :</label>
            </div>
            <div class="form-group col-md-4">
                <input type="text" name="e_lastname" class="form-control" id="e_lastname" maxlength="256"
                       placeholder="Last Name" th:value="${employeelists.e_lastname}">
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-2">
                <label>Email* :</label>
            </div>
            <div class="form-group col-md-4">
                <input type="email" name="e_mail" class="form-control" id="e_mail" maxlength="256"
                       th:value="${employeelists.e_mail}" placeholder="Email">
            </div>
            <div class="form-group col-md-2">
                <label>Phone* :</label>
            </div>
            <div class="form-group col-md-4">
                <input type="tel" name="e_phone" class="form-control" id="e_phone" maxlength="13"
                       placeholder="First Name" th:value="${employeelists.e_phone}">
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-2">
                <label>Designation* :</label>
            </div>
            <div class="form-group col-md-4">
                <select name="e_designation" id="e_designation" class="form-control"
                        th:value="${employeelists.e_designation}">
                    <option value="">--select--</option>
                    <option value="SE" selected>SE</option>
                    <option value="SSE">SSE</option>
                    <option value="TL">TL</option>
                    <option value="STL">STL</option>
                    <option value="PM">PM</option>
                    <option value="VP">VP</option>
                </select>
            </div>
            <div class="form-group col-md-2">
                <label>Employment Type* :</label>
            </div>
            <div class="form-group col-md-4">
                <select name="e_employment_type" id="e_employment_type" class="form-control"
                        th:value="${employeelists.e_employment_type}">
                    <option value="">--select--</option>
                    <option value="Full-Time" selected>Full-Time</option>
                    <option value="Part-Time">Part-Time</option>
                    <option value="Contract">Contract</option>
                </select>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-2">
                <label>Department* :</label>
            </div>
            <div class="form-group col-md-4">
                <select name="e_department" id="e_department" class="form-control"
                        th:value="${employeelists.e_department}">
                    <option value="">--select--</option>
                    <option value="Engineering" selected> Engineering</option>
                    <option value="HR">HR</option>
                    <option value="IT">IT</option>
                    <option value="Cloud">Cloud</option>
                </select>
            </div>
            <div class="form-group col-md-2">
                <label hidden>** :</label>
            </div>
            <div class="form-group col-md-4">
                <input type="text" class="form-control" style="visibility: hidden;" name="e_id" id="e_id"
                       th:value="${employeelists.e_id}">
            </div>
        </div>

        <div style="margin-left:45%;">
            <button type="submit" class="btn btn-primary col-2" onClick="return mySubmit()">Save</button>
            <button type="reset" class="btn btn-warning">Clear</button>
        </div>
    </form>


</div>


</body>

</html>