<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Invoice List</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" th:href="@{/style.css}">
    <script th:src="@{/js/script.js}"></script>
    <script type="text/javascript">
        function getId(e_id){
<!--            alert(no);-->
        document.getElementById("save").href="/saveMeeting/"+e_id;
        document.getElementById("listout").href="/listoutMeeting/"+e_id;
        document.getElementById("showcalendar").href="/viewCalendar/"+e_id;
        }
    </script>
</head>

<body>
<br>
<div class="container">

    <h3>Employee List.</h3>
    <hr>
    <div class="form-group col-md-2">
        <input type="text" name="keyword" id="keyword" class="form-control" size="50" onkeyup="searchFunction()"
               placeholder="Search..(FirstName)">
    </div>
    <a th:href="@{/employeeinfo}">
        <button type="button" class="btn btn-primary" style="float: right;margin-bottom: 10px;"><i
                class="fa fa-plus-circle" aria-hidden="true"></i></button>
    </a>
    <table class="table table-bordered table-striped">

        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">First Name</th>
            <th scope="col">Last Name</th>
            <th scope="col">Email</th>
            <th scope="col">phone</th>
            <th scope="col">Designation</th>
            <th scope="col">Type</th>
            <th scope="col">Department</th>
            <th scope="col">Action</th>
        </tr>
        </thead>
        <tbody id="data_table">
        <tr th:each="employeelist : ${employeelists}">
            <td th:text="${employeelist.e_id}" th:id="e_id+${employeelist.e_id}"/>
            <td th:text="${employeelist.e_firstname}"/>
            <td th:text="${employeelist.e_lastname}"/>
            <td th:text="${employeelist.e_mail}"/>
            <td th:text="${employeelist.e_phone}"/>
            <td th:text="${employeelist. e_designation}"/>
            <td th:text="${employeelist.e_employment_type}"/>
            <td th:text="${employeelist.e_department}"/>
            <td><a th:href="@{/showEmployeeUpdate/{id}(id=${employeelist.e_id})}">
                <i class='fa fa-edit' style='font-size:24px'></i></a>&nbsp;&nbsp;
                <a th:href="@{/deleteEmployee/{id}(id=${employeelist.e_id})}">
                    <i class='fa fa-trash' style='font-size:22px'></i></a>&nbsp;&nbsp;
                <!--                <a th:href="@{/viewCalendar/{id}(id=${employeelist.e_id})}">-->
                <!--                    <i class="fa fa-calendar" aria-hidden="true" style='font-size:22px'></i></a>-->
                    <i class="fa fa-calendar" aria-hidden="true" style='font-size:22px' data-toggle="modal"
                       data-target="#myModal" id="submit" th:onclick="getId([[${employeelist.e_id}]])"></i>
            </td>
        </tr>
        </tbody>
    </table>
    <!-- Modal -->
    <div id="myModal" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">To Perform More Operation.</h4>
                </div>
                <div class="modal-body" style="margin-left:100px;">
                    <h6 id="e_id"></h6>
                    <a th:href="@{/viewCalendar/}" id="showcalendar">
                        <button type="submit" class="btn btn-primary col-2">View Calendar</button></a>
                    <a th:href="@{/saveMeeting/}" id="save">
                        <button type="submit" class="btn btn-primary col-2">Save Meeting</button></a>
                    <a th:href="@{/listoutMeeting/}" id="listout">
                        <button type="submit" class="btn btn-primary col-2">List Out Meeting</button></a>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>

        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-4" style="margin-top:30px;">
            <span>Showing [[${currentPage}]] to [[${totalPages}]] of: [[${totalItems}]] entries </span>
        </div>
        <div class="col-sm-8" th:if="${totalPages > 1}">
            <ul class="pagination justify-content-end" style="float:right">
                <li class="page-item">
                    <a class="page-link" href="#" aria-label="Previous" th:if="${currentPage >= totalPages}"
                       th:href="@{'/page/' + ${currentPage - 1}}">
                        <span aria-hidden="true">&laquo;</span>
                        <span class="sr-only">Previous</span>
                    </a>
                </li>
                <li class="page-item" th:each="i: ${#numbers.sequence(1, totalPages)}">
                    <a class="page-link" th:if="${currentPage != i}" th:href="@{'/page/' + ${i}}">[[${i}]]</a>
                    <span th:unless="${currentPage != i}">[[${i}]]</span>
                </li>
                <li class="page-item">
                    <a class="page-link" href="#" aria-label="Next" th:if="${currentPage < totalPages}"
                       th:href="@{'/page/' + ${currentPage + 1}}">
                        <span aria-hidden="true">&raquo;</span>
                        <span class="sr-only">Next</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>

</div>

</body>

</html>