<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Meeting List</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" th:href="@{/style.css}">
    <!--    <script th:src="@{/js/script.js}"></script>-->
    <script type="text/javascript">

    </script>
</head>

<body>
<br>
<div class="container">

    <h3>Meeting List.</h3>
    <hr>

    <a href="/employeelist">
        <button type="button" class="btn btn-primary" style="float: right;margin-bottom: 10px;">Back</button>
    </a>
    <table class="table table-bordered table-striped">

        <thead>
        <tr>
            <th scope="col">Meeting Id</th>
            <th scope="col">Meeting Title</th>
            <th scope="col">Event Color</th>
            <th scope="col">Start Date</th>
            <th scope="col">End Date</th>
            <th scope="col">Location</th>
            <th scope="col">Invitees</th>
            <th scope="col">Link</th>
            <th>Emp Id</th>
            <th>Action</th>
        </tr>
        </thead>
        <tbody id="data_table">
        <tr th:each="meetings : ${listout_meeting}">
            <td th:text="${meetings.meeting_id}"/>
            <td th:text="${meetings.title}"/>
            <td th:text="${meetings.color}"/>
            <td th:text="${meetings.start}"/>
            <td th:text="${meetings.end}"/>
            <td th:text="${meetings.location}"/>
            <td th:text="${meetings.invitees}"/>
            <td th:text="${meetings.url}"/>
            <td th:text="${meetings.emp_id}"/>
            <td><a th:href="@{/editMeeting/{id}(id=${meetings.meeting_id})}">
                <i class='fa fa-edit' style='font-size:24px'></i></a>&nbsp;&nbsp;
                <a th:href="@{/deleteMeeting/{id}(id=${meetings.meeting_id})}">
                    <i class='fa fa-trash' style='font-size:24px'></i></a>&nbsp;&nbsp;
            </td>

        </tr>
        </tbody>
    </table>
</div>
</body>
</html>