<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Employee List</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <link rel="stylesheet" th:href="@{/style.css}">
    <script th:src="@{/js/meeting.js}"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-3-typeahead/4.0.2/bootstrap3-typeahead.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-multiselect/0.9.13/js/bootstrap-multiselect.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-multiselect/0.9.13/css/bootstrap-multiselect.css" />

</head>
<body>
<br>

<div class="container">
    <h3>Create Meeting.</h3>
    <hr>

    <form th:action="@{/savemeetingInfo}" th:object="${meetinginfo}" method="POST">
        <div class="form-row">
            <div class="form-group col-md-2">
                <label>Meeting Title* :</label>
            </div>
            <div class="form-group col-md-4">
                <input type="text" name="title" class="form-control" id="title" maxlength="256"
                       placeholder="Meeting Title">
            </div>
            <div class="form-group col-md-2">
                <label>Event Color* :</label>
            </div>
            <div class="form-group col-md-4">
                <input type="color" name="color" class="form-control" id="color"
                       placeholder="Event Color">
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-2">
                <label>Start Date* :</label>
            </div>
            <div class="form-group col-md-4">
                <input type="datetime-local" name="start" class="form-control" id="start"
                       placeholder="Start Date">
            </div>
            <div class="form-group col-md-2">
                <label>End Date* :</label>
            </div>
            <div class="form-group col-md-4">
                <input type="datetime-local" name="end" class="form-control" id="end"
                       placeholder="End Date">
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-2">
                <label>Location* :</label>
            </div>
            <div class="form-group col-md-4">
                <select name="location" id="location" class="form-control">
                    <option value="">--select--</option>
                    <option value="Bangalore">Bangalore</option>
                    <option value="Pune">Pune</option>
                    <option value="Ganga">Ganga</option>
                    <option value="Jamuna">Jamuna</option>
                </select>
            </div>
            <div class="form-group col-md-2">
                <label>Meeting Link* :</label>
            </div>
            <div class="form-group col-md-4">
                <input type="text" name="url" class="form-control" id="url" placeholder="Department">
            </div>


        </div>
        <div class="form-row">
            <div class="form-group col-md-2">
                <label>Invitees* :</label>
            </div>
            <div class="form-group col-md-4">
                <select name="invitees[]" id="invitees" multiple class="form-control">
                    <option value="">--select--</option>
                    <option value="Vicky">Vicky</option>
                    <option value="Raju">Raju</option>
                    <option value="Sharan">Sharan</option>
                    <option value="Diya">Diya</option>
                </select>
            </div>

            <div class="form-group col-md-2">
                <label hidden>** :</label>
            </div>
            <div class="form-group col-md-4">
                <input type="text" class="form-control" th:value="${e_id}" name="emp_id" style="visibility:hidden">
            </div>
        </div>

        <div style="margin-left:45%;">
            <button type="submit" class="btn btn-primary col-2" onClick="return myMeetingSubmit()">Save</button>
            <button type="reset" class="btn btn-warning">Clear</button>
        </div>
    </form>
</div>

<script>

</script>
</body>
</html>