<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Invoice List</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" th:href="@{/main.css}">
    <!--    <script th:src="@{/js/script.js}"></script>-->
    <script>
        function searchFunction1()
        {
            let filter=document.getElementById("keyword").value.toUpperCase();
             var table=document.getElementById("data_table");
             var tr= table.getElementsByTagName('tr');

             for(var i=0;i<tr.length;i++)
             {
                 let td=tr[i].getElementsByTagName('td')[2];
                 if(td)
                 {
                     let text=td.innerHTML|| td.textContent;
                     if(text.toUpperCase().indexOf(filter)>-1)
                     {
                         tr[i].style.display="";
                     }else
                     {
                         tr[i].style.display="none";
                     }
                 }
             }
        }



    </script>
</head>

<body>
<br>
<div class="container">

    <h3>Invoice List.</h3>
    <hr>

    <div class="form-group col-md-2">
        <input type="text" name="keyword" id="keyword" class="form-control" size="50" onkeyup="searchFunction1();"
               placeholder="Search..(Bill_to)">
    </div>

    <a th:href="@{/invoice}">
        <button type="button" class="btn btn-primary" style="float: right;margin-bottom: 10px;">Add new Invoice</button>
    </a>
    <table class="table table-bordered table-striped">
        <thead>
        <tr>
            <th scope="col" hidden>#</th>
            <th scope="col">Invoice No</th>
            <th scope="col">Bill To</th>
            <th scope="col">Date</th>
            <th scope="col">Due Date</th>
            <th scope="col">Status</th>
            <th scope="col">Amount</th>
            <th scope="col">Action</th>
        </tr>
        </thead>
        <tbody id="data_table">
        <tr th:each="invoicelist : ${invoicelists}">
            <td th:text="${invoicelist.invoice_Id}" hidden/>
            <td th:text="${invoicelist.invoice}"/>
            <td th:text="${invoicelist.bill_to}"/>
            <td th:text="${invoicelist.invoice_date}"/>
            <td th:text="${invoicelist.due_date}"/>
            <td th:text="${invoicelist. status}"/>
            <td th:text="${invoicelist.grand_total1}"/>
            <td><a th:href="@{/showForUpdate/{id}(id=${invoicelist.invoice})}"><i class='fa fa-edit'
                                                                                  style='font-size:24px'></i></a>
                <a th:href="@{/deleteInvoice/{id}(id=${invoicelist.invoice})}"><i class='fa fa-trash'
                                                                                  style='font-size:24px'></i></a></td>
        </tr>
        </tbody>
    </table>
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-4" style="margin-top:30px;">
                <span>Showing [[${currentPage}]] to [[${totalPages}]] of: [[${totalItems}]] entries </span>
            </div>
            <div class="col-sm-8" th:if="${totalPages > 1}">
                <ul class="pagination justify-content-end" style="float:right">
                    <li class="page-item">
                        <a class="page-link" href="#" aria-label="Previous" th:if="${currentPage >= totalPages}"
                           th:href="@{'/page/' + ${currentPage - 1}}">
                            <span aria-hidden="true">&laquo;</span>
                            <span class="sr-only">Previous</span>
                        </a>
                    </li>
                    <li class="page-item" th:each="i: ${#numbers.sequence(1, totalPages)}">
                        <a class="page-link" th:if="${currentPage != i}" th:href="@{'/page/' + ${i}}">[[${i}]]</a>
                        <span th:unless="${currentPage != i}">[[${i}]]</span>
                    </li>
                    <li class="page-item">
                        <a class="page-link" href="#" aria-label="Next" th:if="${currentPage < totalPages}"
                           th:href="@{'/page/' + ${currentPage + 1}}">
                            <span aria-hidden="true">&raquo;</span>
                            <span class="sr-only">Next</span>
                        </a>
                    </li>
                </ul>
            </div>

        </div>
    </div>
    <nav aria-label="Page navigation example" th:if="${totalPages > 1}">
    </nav>

</div>
</body>
</html>