<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Invoice_Info</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" th:href="@{/main.css}">
    <script th:src="@{/js/script.js}"></script>

</head>
<body>
<br>

<div class="container">
    <h3>Invoice Info.</h3>
    <hr>
    <form th:action="@{/saveInvoice1}" th:object="${invoice_information}" method="POST"
          enctype="multipart/form-data">
        <div class="form-row">
            <div class="form-group col-md-2">
                <label>Bill To* :</label>
            </div>
            <div class="form-group col-md-4">
                <select name="bill_to" id="bill_to" class="form-control">
                    <option value="Kiran">Kiran</option>
                    <option value="Vicky">Vicky</option>
                    <option value="Raju">Raju</option>
                    <option value="Diya">Diya</option>
                </select>
            </div>
            <div class="form-group col-md-2">
                <label>Invoice Date* :</label>
            </div>
            <div class="form-group col-md-4">
                <input type="text" name="invoice_date" th:value="${{invoice_date}}" class="form-control"
                       id="invoice_date" placeholder="Invoice Date" readonly>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-2">
                <label>Invoice#* :</label>
            </div>
            <div class="form-group col-md-4">
                <input type="text" name="invoice" class="form-control" id="invoice" placeholder="Invoice (INV-0001)">
            </div>
            <div class="form-group col-md-2">
                <label>Due Date* :</label>
            </div>
            <div class="form-group col-md-4">
                <input type="date" name="due_date" class="form-control" id="due_date" placeholder="Due Date">
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-2">
                <label>Status* :</label>
            </div>
            <div class="form-group col-md-4">
                <select name="status" id="status" class="form-control">
                    <option value="Draft">Draft</option>
                    <option value="Save">Save</option>
                    <option value="Paid">Paid</option>
                </select>
            </div>
            <div class="form-group col-md-2">
                <label hidden>** :</label>
            </div>
            <div class="form-group col-md-4">
                <input type="text" class="form-control" style="visibility: hidden;">
            </div>
        </div>
        <div class="form-row" th:object="${invoice_details}">
            <h4>Invoice Details</h4>

            <table class="table table-bordered">
                <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Product*</th>
                    <th scope="col">Description*</th>
                    <th scope="col">Price*</th>
                    <th scope="col">Qty*</th>
                    <th scope="col">Tax(%)</th>
                    <th scope="col">Total</th>
                    <th scope="col">Action</th>
                </tr>
                </thead>
                <tbody id="data_table">
                <tr>
                    <td><input type="text" id="auto_id" value="1" hidden></td>
                    <td>
                        <!--                        <input type="number" name="price1" id="price1" class="form-control" placeholder="Price" step="10.01">-->
                        <select name="product" id="product" class="form-control" placeholder="Product">
                            <option value="">--select--</option>
                            <option value="Mobile">Mobile</option>
                            <option value="Watch">Watch</option>
                            <option value="Clothing">Clothing</option>
                            <option value="Home accessories">Home accessories</option>
                            <option value="footwear">footwear</option>
                        </select>
                    </td>
                    <td>
                        <div class="form-group">
                            <textarea class="form-control rounded-0" name="description" id="description" rows="3"
                                      maxlength="500"
                                      placeholder="Description"></textarea>
                        </div>
                    </td>
                    <td>
                        <input type="number" name="price" id="price" class="form-control" placeholder="Price"
                               step="0.01" min="0">
                    </td>
                    <td>
                        <input type="number" name="qty" class="form-control" id="qty" placeholder="Qty" min="0">
                    </td>
                    <td>
                        <input type="number" name="tax" class="form-control" id="tax" placeholder="Tax(%)" step="0.01"
                               value="0" min="0">
                    </td>
                    <td><span id="total">0</span></td>
                    <td><input type="button" class="btn btn-info add" onclick="return add_new_row();" value="Add"></td>
                </tr>

                </tbody>
                <tr>
                    <td colspan="6" rowspan="2">
                        <div class="form-group  col-md-2">
                            <label>Invoice Note(Optional) :</label>
                        </div>
                        <div class="form-group   col-md-6">
                        <textarea class="form-control rounded-0" name="invoice_note" id="invoice_note" rows="3"
                                  maxlength="1000"
                                  placeholder="Invoice Note"></textarea>
                        </div>
                    </td>
                    <td>Sub Total :</td>
                    <td><span name="sub_total" id="sub_total">0</span></td>
                </tr>
                <tr>
                    <td>Total Tax :</td>
                    <td><span name="total_tax" id="total_tax">0</span></td>
                </tr>
                <tr>
                    <td colspan="6" style="border-top:hidden">
                        <div class="form-group  col-md-2">
                            <label>Attachment (Optional) :</label>
                        </div>
                        <div class="form-group col-md-4">
                            <input type="file" name="myfile" placeholder="Attachment" id="myfile" class="form-control">
                        </div>
                    </td>
                    <td>Grand Total:</td>
                    <td><input type="text" field="*{grand_total1}" name="grand_total1" id="grand_total1" readonly
                               class="form-control col-4 mb-4"/></td>
                </tr>
            </table>
        </div>

        <div style="margin-left:45%;">
            <button type="submit" class="btn btn-primary col-2" onClick="return mySave();">Save</button>
            <button type="clear" class="btn btn-warning">Clear</button>
        </div>
    </form>

</div>

</body>
</html>